{% extends 'partials/base.html' %} {% load static %} {% load humanize %} {% block content %}
<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item"><a href="#">Информация</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Условия использования</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row align-items-center justify-content-between">
        
            <div class="col-xl-11 col-lg-12 col-md-6 col-sm-12">
                <div class="abt_caption">
                    <h2 class="ft-medium mb-4">Условия использования</h2>
                    <h5><p class="mb-4">1. Основные положения  </p></h5>
                    <p class="mb-4">Платформа предназначена исключительно для продажи авторских handmade-товаров</p>
                    <p class="mb-4">Минимальный возраст пользователей: 14 лет (для продавцов - 18 лет)</p>
                    <h5><p class="mb-4">2. Регистрация и учетные записи</p></h5>
                    <p class="mb-4">Запрещается создавать множественные аккаунты</p>
                    <p class="mb-4">Администрация оставляет право блокировки аккаунтов за нарушения</p>
                    <h5><p class="mb-4">3. Размещение товаров</p></h5>
                    <p class="mb-4">Все работы должны быть оригинальными (копии и плагиат запрещены)</p>
                    <p class="mb-4">Фотографии должны достоверно представлять товар</p>
                    <h5><p class="mb-4">4. Финансовые условия</p></h5>
                    <p class="mb-4">Оплата покупателями производится до передачи заказа мастеру</p>
                    <p class="mb-4">Возврат средств возможен в течение 7 дней при наличии обоснованных причин</p>
                    <h5><p class="mb-4">5. Доставка товаров</p></h5>
                    <p class="mb-4">Продавцы обязаны отправить товар в течение 3 рабочих дней</p>
                    <p class="mb-4">Ответственность за сохранность при пересылке лежит на выбранной службе доставки</p>
                    <h5><p class="mb-4">6. Интеллектуальная собственность</p></h5>
                    <p class="mb-4">Размещая товары, продавец подтверждает свои авторские права</p>
                    <p class="mb-4">Администрация не несет ответственности за нарушения авторских прав между пользователями</p>
                    <h5><p class="mb-4">7. Отзывы и рейтинги</p></h5>
                    <p class="mb-4">Покупатели могут оставлять объективные оценки</p>
                    <p class="mb-4">Продавцы имеют право оспаривать необоснованные отзывы через поддержку</p>
                    <h5><p class="mb-4">8. Ответственность сторон</p></h5>
                    <p class="mb-4">Платформа не гарантирует определенный уровень доходов продавцов</p>
                    <p class="mb-4">Администрация вправе удалять товары, нарушающие правила</p>

                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock content %}